@page "/"
@using Blazor.DriverJs.Models

<button @onclick="async () => await _store.StartDrive()">
    Start drive
</button>

<div class="gallery__wrapper">
    <DriverStore @ref="_store">
        <DriverJsPopover Step="1" Title="It's a fish with a nice hat">
            <img src="https://i.pinimg.com/564x/d5/ba/a9/d5baa9d87ceccbcbb8c679b53dc07293.jpg" alt="">
        </DriverJsPopover>

        <DriverJsPopover Step="2" Title="It's a smiley face." Description="He's very happy...">
            <img src="https://i.pinimg.com/564x/29/70/52/2970520b7069945d60d4d3482691f9d7.jpg" alt="">
        </DriverJsPopover>

        <DriverJsPopover Step="3" Title="And that's a cool smiley face">
            <img src="https://i.pinimg.com/736x/40/bb/da/40bbdac7db3945f95eb9cfe572d36ecd.jpg" alt="">
        </DriverJsPopover>
    </DriverStore>
</div>

<button @onclick="ClickHandler" @ref="_ref">
    Click me
</button>

<DriverStore OnNextStep="NextStepHandler"></DriverStore>

@code {

    private DriverStore _store;

    private ElementReference _ref;

    [Inject] public DriverJs DriverJs { get; set; }

    private async Task ClickHandler()
    {
        await DriverJs.Highlight(new HighlightModel(_ref)
        {
            Title = "Hello World",
        });
    }

    private async Task NextStepHandler(int index)
    {
        var currentPopover = _store.Popovers[index];
    }
    
}